// div{
//     padding: 5px;
// }
mat-card{
    margin: 5px;
}
.matData{
    display: flex;
    flex-direction: column !important;
}
.delete{
    position: absolute;
    right: 3%;
    top: 40%;
}
.card1{
    margin-left: 40%;
}